name: Release pipeline

on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10


jobs:
  test-pipeline:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4

    env:
      DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
      DATABRICKS_TOKEN:  ${{ secrets.DATABRICKS_TOKEN }}

    steps:
      - uses: actions/checkout@v1

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7.5

      - name: Install pip
        run: |
          python -m pip install --upgrade pip
      - name: Install dependencies
        run: |
          pip install -r unit-requirements.txt
          pip install -U databricks-cli
          pip install -e .
      - name: Run unit tests
        run: |
          echo "Launching unit tests"
          pytest tests/unit
      - name: Prepare profile
        run: |
          echo "[DEFAULT]" >> ~/.databrickscfg
          echo "host = $DATABRICKS_HOST" >> ~/.databrickscfg
          echo "token = $DATABRICKS_TOKEN" >> ~/.databrickscfg
      - name: Deploy
        run: |
          databricks workspace import_dir -e -o . /Users/jason.hubbard@databricks.com/pg-demo/wine-production
      - name: Run
        run: |
          databricks jobs run-now --job-id 8336 --notebook-params '{"model_name": "jah-wine-model", "stage": "production"}'
